{% extends "base.html" %}
    {% block custom-css %}
    <link href="../static/css/base.css" rel="stylesheet">
    <link href="../static/css/facility.css" rel="stylesheet">
    {% endblock %}

    {% block custom-java %}
    <script src="../static/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
{% block title %}Facility{% endblock %}
{% block body %}
    <!-- NAVBAR
    ================================================== -->
  <div class="brand">
    <div class="contain">
    <div class="brand-logo">
      <img src="../static/fig/nju_logo.png">
    </div>
    <h1 class="brand-h1"> Microphotonics Laboratory of NJU</h1>
    <h4 class="brand-h4"> Group of Professor Ru-Wen Peng</h4>
    </div>
  </div>
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{% url homepage_en %}">Home</a></li>
                <li><a href="{% url members_en %}">Members</a></li>
                <li><a href="{% url research_en %}">Researches</a></li>
                <li><a href="{% url publication_en %}">Publications</a></li>
                <li class="active"><a href="{% url facility_en %}">Facilities</a></li>
                <li><a href="{% url contact_en %}">Contact</a></li>
                <li><a href="{% url homepage %}">Chinese</a></li>
              </ul>
            </div>
          </div>
        </nav>
<div class="main">
  {% for fac in facility %}
  <h2>{{fac.name_en}}</h2>
  <table>
    <tr>
      <td><img src="{{fac.img.url}}" class="img-rounded"></td>
    </tr>
  </table>
  {% endfor %}
  </br>
</div>
{% include "footer_en.html" %}
{% endblock %}
